.cabecalho{
    background-image: linear-gradient(to bottom, var(--preto) 5%, transparent 60%, var(--preto) 95%), url(../img/banner\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.cabecalho__info{
    margin-top: 200px;
    margin-left: 3em;
    color: var(--branco);
}

.cabecalho__imagem{
    width: 550px;
}

.cabecalho__info p{
    width: 550px;
    line-height: 1.5;
    margin: 1.2em 0;
}


.btn{
    background-color: var(--branco);
    color: var(--preto);
    text-decoration: none;
    font-weight: bold;
    padding: .8em 1.5em;
    margin-right: 1em;
}

.btn__play::before{
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(../img/play.png);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    top: 6px;
    margin-right: 5px;
}

.btn__transparente{
    background-color: rgba(255,255,255, .5);
    color: var(--branco);
}

.btn__transparente::before{
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(../img/informacoes.png);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    top: 6px;
    margin-right: 5px;
}