/* destaques */
.destaque{
    background-color: var(--fundo-card);
    color: var(--texto-principal);
    width: 750px;
    border-radius: 10px;
    margin-top: 1em;
    padding: 1em;
}

.destaque .titulo{
    font-size: 20px;
    margin-bottom: 1em;
    font-weight: bold;    
}

.container__cards__destaque{
    display: flex;
    justify-content: space-between;
}

.container__destaque{
    border: 1px solid var(--texto-secundario);
    border-radius: 10px;
    width: 238px;
}

.conteudo h3{
    color: var(--texto-secundario);
    margin-bottom: 1em;
    font-size: 12px;
}

.conteudo h4{
    color: var(--texto-principal);
    font-size: 14px;
}

.destaque__titulos{
    padding: 1em;
}

.destaque__fundo{
    background-image: url(../img/destaque1.jpg);
    width: auto;
    height: 152px;
}

.destaque__fundo__dois{
    background-image: url(../img/destaque2.jpg);
    width: auto;
    height: 152px;
}

.destaque__fundo__tres{
    background-image: url(../img/destaque3.jpg);
    width: auto;
    height: 152px;
}

.container__reacoes__comentarios{
    padding: 1em 1em .5em 1em;
    display: flex;
    justify-content: space-between;
}

.reacoes{
    display: flex;
    gap: .5em;
}
