.formacao{
    background-color: var(--fundo-card);
    color: var(--texto-principal);
    width: 750px;
    border-radius: 10px;
    margin-top: 1em;
    padding: 1em;
}

.formacao .titulo{
    font-size: 20px;
    margin-bottom: 1em;
    font-weight: bold;
}

.container__formacao{
    display: flex;
    gap: 1em;
}

.formacao__formatacao p{
    margin-top: .3em;
    color: var(--texto-secundario);
}