/* principal */
.principal{
    /* border: 1px solid red; */
    width: 900px;
    margin: 0 18.5%;
    display: flex;
    align-items: flex-start;
    gap: 1em;
}

.perfil{
    margin-top: 2em;
    border-radius: 10px;
    color: var(--texto-principal);
    width: 780px;
    background-color: var(--fundo-card);
}

.perfil__imagem__fundo{
    background-image: url(../img/capa.png);
    height: 230px;
    position: relative;
}

.perfil__imagem{
    position: absolute;
    top: 65%;
    left: 20px;
}

.perfil__dados{
    margin-top: 6em;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
}

.perfil__dados h2{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: .2em;
}

.perfil__dados h3{
    font-size: 1em;
    margin-bottom: .6em;
}

.perfil__dados p{
    font-size: 14px;
    margin-bottom: .5em;
}

.perfil__dados p a {
    color: var(--primario);
    font-weight: bold;
    text-decoration: none;
}

.botoes{
    display: flex;
    gap: 1em;
    margin-top: 1em;
    padding-bottom: 2em;
}

.botoes .btn{
    border: 1px solid var(--primario);
    border-radius: 30px;
    width: 128px;
    padding: .5em 0;
    text-align: center;
    text-decoration: none;
    color: var(--primario);
}

.botoes .btn-azul{
    background-color: var(--primario);
    color: var(--fundo-escuro);
}

.empresas ul{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.empresas ul li{
    display: flex;
    align-items: center;
}

.empresas ul li img{
    margin-right: .5em;
}
